appdirs==1.4.4
certifi==2020.6.20
cffi==1.14.0
cryptography==2.9.2
decorator==4.4.2
distlib==0.3.0
filelock==3.0.12
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
olefile==0.46
Pillow==7.1.2
pycparser==2.20
python-telegram-bot==12.8
six==1.15.0
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
virtualenv==20.0.25
wincertstore==0.2
